@charset "utf-8";
/* CSS Document */

.container {
	width:80%;
	margin: 0 auto;
}

img {
	width:100%;
	height:auto;
}

.box1{
	position:absolute;
	bottom: 8px;
	left:16px;
}

.box2 {
	position:fixed;
	top:2px;
	left:16px;
	background-color:darksalmon;
	padding:10px 20px;
}

.insidebox2 {
	background-color:honeydew;
}

.box3 {
	position:sticky;
	top:0;
	padding: 5px;
	background-color:lightskyblue;
	border: 2px solid #710693;
}

.box4 {
	position:relative;
	left: 30px;
	background-color: azure;
	border: solid #FF0004;
}

.box5 {
	position:fixed;
	bottom:2px;
	right:16px;
	background-color:palevioletred;
	padding:10px 20px;
}

.box6 {
	position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
