@charset "utf-8";
/* CSS Document */
body {
	background-color: #91111E;
}
.navigation {
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A85E49;
	justify-content: space-evenly;
	font-family:"Enchanted Land";
	font-size: 28px;
	text-color:#9E7645;
}

li {
	float: left;
	margin: 20px;
	margin-left: 280px;
}

.navigation {
	display: flex;
	background-color: #A85E49;
	width: 1440px;
	height: 56px;
	justify-content: space-evenly;
}

img {
	width:1440px;
	height: 272px;
	object-fit: cover;
}

h1 {
	color: #9E7645;
	text-align:center;
	font-family:"Enchanted Land";
	font-size:128px;
}

h2 {
	color: #9E7645;
	text-align:center;
	font-family:"Enchanted Land";
	font-size: 128px;
}

h3 {
	color: #9E7645;
	font-family:Belleza;
	text-align:center;
}

h5 {
	color: #9E7645;
	text-align:center;
}