@charset "utf-8";
/* CSS Document */
body {
	background-color: #91111E;
}


ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #A85E49;
	justify-content: space-evenly;
	font-family:"Enchanted Land";
	font-size: 28px;
	text-color:#9E7645;
}

li {
	float:left;
        padding: 20px;
        margin: 20px;
	justify-content:space-between;
}

.navigation {
	display: flex;
	background-color: #A85E49;
	width: 110%;
	height: 79px;
	justify-content: space-evenly;
	margin:-20px;
	position:sticky;
	top:0;
	z-index: 99;
}

img {
	width:100%;
	height: 272px;
	object-fit: cover;
}

#imagenature {
	height:252px;
	margin:-20px;
	width:110%;
	overflow:hidden;
	z-index: 1;
}

h1 {
	color: #9E7645;
	text-align:center;
	font-family:"Enchanted Land";
	font-size:128px;
}

h2 {
	color: #9E7645;
	text-align:center;
	font-family:"Enchanted Land";
	font-size: 128px;
}

h3 {
	color: #9E7645;
	font-family:Belleza;
	text-align:center;
}

h4{
	color: #9E7645;
	font-family:Belleza;
	font-size:50px;
	
}

h5 {
	color: #9E7645;
	text-align:center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.History {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	z-index: 1;
	text-shadow: 3px 3px 6px black;
 
}

.Hotels {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 3px 6px black;
}

.Transportation {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 3px 6px black;
}

.HistoricalSights {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 3px 6px black;
}

.Trails {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 3px 6px black;
}

.ChapelsMuseums {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	text-shadow: 3px 3px 6px black;
}

p {
	text-align: left;
	margin:20px;
	font-size: 55px;
	color: #9E7645;
	font-family:Belleza;
}

.schedule {
	display: flex;
	gap:30px;
}


.Typestransport {
	text-align: left;
	font-size: 55px;
}

.castle {
	display:flex;
	
}

.mkc {
	display: flex;
}

.dv {
	display: flex;
}

.Stcathedral {
	display: flex;
}

.ScotMuseum {
	display: flex;
}

.WarMuseum {
	display: flex;
}

.Bhotel {
	display: flex;
}

.Chotel {
	display: flex;
}

.Motel {
	display: flex;
}

.Brunton {
	display: flex;
}

a {
	text-color:#9E7645;
	text-decoration: none;
}


